<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand">Practica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']">Inicio</a>
                </li>
                <div *ngIf="usuario.rol==2 || usuario.rol==1">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://aplicacionempresarial-e.herokuapp.com/">Empleado</a>
                    </li>
                </div>
                <div *ngIf="usuario.rol==3 || usuario.rol==1">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://nx-tictactoe.herokuapp.com/">Juego</a>
                    </li>
                </div>
            </ul>
            <div class="ms-auto navbar-nav">
                <button class="nav-link" (click)="logout()">Cerrar sesi&oacute;n</button>
            </div>
        </div>

    </div>
</nav>
<div id="login-container">
    <div class="container align-items-center text-center">
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-xl-5 col-md-8">
                <div class="card border-0 p-2 shadow-0">
                    <div class="card-body">
                        <h1><strong>Bienvenido {{usuario.username}} !</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>