input {
    border: 1px solid #a09f9f;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    width: -webkit-fill-available;
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 1rem;
    padding: 8px 12px;
}

button {
    border-radius: 25px!important;
    height: 45px;
    font-weight: 700!important;
    padding: 0 24px!important;
    color: #fff;
    border: none!important;
    font-size: 1rem!important;
    cursor: pointer;
}

.btn-black {
    background-color: black;
}