<div id="login-container">
    <div class="container align-items-center">
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-xl-5 col-md-8">
                <div class="card rounded p-2 shadow-0">
                    <div class="card-body">
                        <form [formGroup]="usuarioForm" (ngSubmit)="authUser()" autocomplete="off">
                            <div class="mb-3">
                                <label for="usuario" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="usuario" formControlName="usuario">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-black btn-dark mt-4 ">Iniciar sesi&oacute;n</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>